## Brian Blaylock
## University of Utah 
## Updated: December 2, 2016

#     LDM
      setenv LDM /uufs/arches/sys/pkg/ldm/std
      setenv PATH "$LDM/bin:$PATH"
      setenv LDMHOME /uufs/arches/sys/pkg/ldm/std

#     NCO
  ##  setenv LD_LIBRARY_PATH "/uufs/arches/sys/pkg/nco/std/lib:$LD_LIBRARY_PATH" 
      setenv PATH "/uufs/arches/sys/pkg/nco/std/bin:$PATH"

#     RIP
#     Jim's Version
#      setenv RIP_ROOT /uufs/chpc.utah.edu/common/home/u0028395/RIP4
#      setenv PATH "${RIP_ROOT}:$PATH"
#     Erik Neeman's Version
      setenv RIP_ROOT /uufs/chpc.utah.edu/common/home/u0818471/RIP5/RIP4

	  
#     No Pathscale (WRF compile opptions 2 and 3)
##### UNCOMMENT THIS LINE AFTER HEARING FROM CHPC
##### source /uufs/$UUFSCELL/sys/pkg/mpich2/std_pgi/etc/mpich2.csh

#     Give me direct access to executables in my current directory
      setenv PATH ".:$PATH"

#     Block those nasty core dumps
      limit coredumpsize 0


#------------------------------------------------------------------------------
#                         Settings and aliases
#------------------------------------------------------------------------------

set prompt = "%BGoUtes %h%m%% "
alias cd     'cd \!*;echo $cwd'

# Always ask if you want to remove or replace a file. (To bypass this in the 
# terminal, use the '-f' option when removing, moving, or copying.)
alias rm rm -i             
alias mv mv -i
alias cp cp -i
alias ls            'ls --color=tty'


# To use the local verion of python, type: 'localpy ScriptName.py'
alias localpy '/usr/local/bin/python'
alias emacs 'emacs -bg white -fg black'


# ---- Directories ------------------------------------------------------------
alias archive 'cd /uufs/chpc.utah.edu/common/home/horel-group/archive'
alias horel-group 'cd /uufs/chpc.utah.edu/common/home/horel-group/'
alias ozone 'cd /uufs/chpc.utah.edu/common/home/horel-group4/gslso3s/ && ls -lh'
alias gl 'cd /uufs/chpc.utah.edu/host/gl'


# ---- WRF --------------------------------------------------------------------
# WRF on horel-group3
alias WRF3 'cd /uufs/chpc.utah.edu/common/home/horel-group3/horel_data/bblaylock && ls -lh'

# WRF on horel-group4
alias WRF4 'cd /uufs/chpc.utah.edu/common/home/horel-group4/model/bblaylock && ls -lh'

# WRF on scratch space **on the meso3 box only**
alias WRF 'cd /compute1/scratch/bblaylock/ && ls -lh'


# ---- SSH -------------------------------------------------------------------
alias osg 'ssh blaylockbk@login.osgconnect.net'
alias horse 'ssh mesohorse@meso1.chpc.utah.edu'
alias meso1 'ssh meso1.chpc.utah.edu'
alias meso2 'ssh meso2.chpc.utah.edu'
alias meso3 'ssh meso3.chpc.utah.edu'
alias meso4 'ssh meso4.chpc.utah.edu'
alias meteo19 'ssh meteo19.chpc.utah.edu'
alias wx1 'ssh wx1.chpc.utah.edu'
alias wx2 'ssh wx2.chpc.utah.edu'
alias wx3 'ssh wx3.chpc.utah.edu'
alias wx4 'ssh wx4.chpc.utah.edu'

# ---- Other ------------------------------------------------------------------
alias ldm 'sudo su - ldm'

# on gl1 for thredds server
alias thredds 'cd /uufs/hiddenarch.arches/host/pkg/tomcat/std/content/thredds'
alias thredds_down 'sudo /uufs/hiddenarch.arches/host/pkg/tomcat/std/bin/shutdown.sh'
alias thredds_start 'sudo /uufs/hiddenarch.arches/host/pkg/tomcat/std/bin/startup.sh'

alias panoply '/uufs/chpc.utah.edu/sys/pkg/panoply/4.0.3/panoply.sh'

alias wx 'curl http://wttr.in/slc'
