# Ignore everything
*

# But not these files...
!.gitignore
!.tcshrc
!.aliases
!.custom.csh
!README.git

# ...even if they are in subdirectories
# !*/ # commented out becuase I want to block items in other dirs